*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page-1{
    position: relative;
    height: 100vh;
}
.login{
    display: flex;
    justify-content: space-between;
    background-color: #13357b;
    padding: 5px 40px;
    position:sticky;
}

.icon{
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon a{
    border:1px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 34px;
    height: 34px;
    color: white;
    margin: 0px 5px;
}
.icon a:hover{
    color: black;
    background-color: white;
}

.register{
    display: flex;
    justify-content: center;
    align-items: center;
}
.register a{
    color: white;
    text-decoration: none;
    padding: 0px 8px;
}
.register a i{
    padding: 0px 8px;
}

#header{
    display: flex;
    justify-content: space-between;
    padding: 0px 70px;
    background-color: #F2F2F2;
    position: sticky;
    top: 0;
    height: 80px;
    width: 100%;
    z-index: 1;
}


.logo{
    font-size: 40px;
    color: #13357B;
    margin: 15px;
}
.logo i{
    margin: 0px 5px ;
}

.header-section-2{
    display: flex;
    /* padding-top: 23px; */
}
@media screen and (max-width: 940px){
    .header-section-2{
        display: none;
    }
}
.nav{
    overflow: hidden;
}

.nav-item{
    display: flex;
    justify-content: center;
    color: black;
    height: 80px;
    /* width: 80px; */
    text-decoration: none;
    padding: 26px 10px;
    font-size: x-large;
}

.nav:hover .nav-inner-box{
    transform: translateY(-80px);
    z-index: -1;
    
}

.nav-inner-box{
    height: 80px;
    background-color: #13357B;
    position: relative;
    transition: .5s ;
    padding:  26px 20px;
    
}
.nav:hover .nav-item{
    color: white;
}

.nav-home{
    background-color: #13357B;
    color: white;
}


.button:hover .btn-hover{
    transform: translateX(132px);
}
.button:hover {
   color: #13357B;
}

.button {
    overflow: hidden;
    height: 40px;
    margin-top: 20px;
    margin-left: 19px;
    border: .5px solid #13357B;
    text-decoration: none;
    position: relative;
    padding: 8px 20px;
    border-radius: 28px;
    color: white;
    font-weight: 600;
    font-size: 20px;
}
.btn-hover{
    height: 41px;
    width: 130px;
    position: absolute;
    margin-top: -32px;
    margin-left: -21px;
    border-radius: 28px;
    background-color:#13357B;
    color: white;
    z-index: -1;
    transition: .3s;
}

.home{
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
    background: url('https://themewagon.github.io/travela/img/carousel-3.jpg');
    background-size: cover;
}
.home-bg{
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, 0.5));
    position: absolute;
    top: 0px;
    

}
.home-img{
    height: 100vh;
    width: 1000px;
    margin-top: -128px;
    position: relative;
    z-index: -1;
}

.home-content{
    /* border: 2px solid black; */
    position: absolute;
    top: 10%;
    width: 100%;
    height: 100%;
    display: flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 20px;
}

.explore{
    font-size: 1.5rem;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 20px;
}
.you-like{
    font-size: 4.5rem;
    text-transform: capitalize;
    font-weight: 600;
    margin-bottom: 20px;
}
.lorem{
    font-size: 1.25rem;
    margin-bottom: 20px;
    max-width: 1000px;
    text-align: center;
    line-height: 2rem;
    padding: 15px;
}
.home-content-btn{
    overflow: hidden;
    height: 48px;
    padding-top: 10px;
}
.btn{
    color: #13357B;
    background-color: white;
}

.home-button{
    z-index: 1;
    right: 0px;
}

.home-search{
    display: flex;
    justify-content: center;
}
.home-search-inner{
    width: 85%;
    justify-content: center;
    align-items: center;
    margin-top: -75px;
    position: absolute;
    background: rgba(19, 53, 123, 0.8);
    border-radius: 50rem;
    padding: 3rem;
    display: flex;
    justify-content: space-between;

}

.home-search-inner input{
    height: 50px;
    width: 100%;
    border-radius: 50rem;
    border: none;
    padding: 10px;
    position: relative;
    z-index: 1;
}
.search-btn{
    position: absolute;
    right: 55px;
    top: 33px;
    width: 105px;
    color: white;
    z-index: 2;
}
.search-btn-hover{
    position: absolute;
    color: white;
}